.Tree {
  height: 100%;
  flex-direction: column;
}

.Tree > * {
  height: 100%;
}

%rowItem {
  display: inline-block;
  vertical-align: middle;
}

.Tree-rowContents {
  @extend %rowItem;
  height: 20px;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  transition: background-color .1s ease-in-out;

  &--selected {
    background-color: rgba(255, 255, 0, 0.2);
  }

  &.Tree-drag--legal {
    background-color: #8fd19e;
  }

  &.Tree-drag--illegal {
    background-color: #ed969e;
  }
}

.Tree-rowLabel {
  @extend %rowItem;
  flex: 0 1 auto;
  padding-left: 24px;
}

.Tree-rowEditor {
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2) inset;
  padding: .5rem;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 5;
}

.Tree-collapseButton,
.Tree-expandButton {
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    transform-origin: 5px 4px;
    transform: translate3d(-50%, -20%, 0);
    border: solid transparent 7px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-color: gray;
  }

  &:hover::after {
    border-top-color: black;
  }

  &:focus {
    outline: none;

    &::after {
      filter: drop-shadow(0 0 1px #83bef9) drop-shadow(0 0 1px #83bef9) drop-shadow(0 0 1px #83bef9);
    }
  }
}

.Tree-expandButton::after {
  transform: translate3d(-50%, -20%, 0) rotateZ(-90deg);
}