﻿.Canvas {
    
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Canvas-toolbar {
    background: #fff;
    padding: .5rem 0;
}

.Canvas-main {
    background: #f0f0f0;
    flex: 1 1 0;
}