.Pages {

}

.Pages-list {
  padding: 8px 16px;
}

.Pages-item {
  box-shadow: 0 0 0 1px #bbb;
  height: auto;
  outline: 0;

  &--selected {
    box-shadow: 0 0 0 3px var(--primary);
  }

  img {
    width: 100%;
  }
}

.Pages-item + .Pages-item {
  margin-top: 8px;
}

.Pages-item-content {
  background: #ddd;
  min-height: 160px;
}

.Pages-item-progress.ant-progress {
  margin: .75rem 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 80%;
}
