#root {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-btn > svg + span,
.ant-dropdown-menu-item > svg + span {
  margin-left: 8px;
}

.App {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.App-main {
  display: flex;
}
.App-main > * {
  flex: 1 1 auto;
  flex-direction: row;
}

.App-main .App-panel + .App-panel {
  border-left: 1px solid #ddd;
}

.App-panel .Header {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.App-canvas {
  display: flex;
  flex-direction: column;
}

.App-tree > .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.App-footer {
  border-top: 1px solid #ddd;
  padding: 0;
}
