#root {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.App-main {
  flex: 1 1 auto;
  flex-direction: row;
}

.App-canvas,
.App-tree {
  display: flex;
  flex-direction: column;
}
