#root {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-btn > svg + span {
  margin-left: 8px;
}

.App {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.App-main {
  display: flex;
}
.App-main > * {
  flex: 1 1 auto;
  flex-direction: row;
}

.App-canvas {
  display: flex;
  flex-direction: column;
}

.App-tree > .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.App-footer {
  padding: 0;
}
